


.node {
	display: inline flex;
	flex-direction: column;
	margin: 0.2em;
	margin-right: 1.5em;
}

.node.nolabel {
	margin-right: 0.2em;
}

.node > .output > .label {
	position: absolute;
	top: -0.7em;
	right: -1.2em;
}

.node > .inputs {
	display: flex;
	justify-content: space-around;
	align-items: end;
	padding: 0.2em;
}

.node > .inputs > .node {
	margin-left: 0.7em;
	margin-right: 0.7em;
}

.node > .output {
	border-top: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.2em;
	position: relative;
}

.node.empty, .node > .output > .empty {
	width: 1.5em;
	height: 1.5em;
	border: 1px dashed green;
}

.node > .output > .empty {
	font-size: 0.8em;
	margin: 0.2em;
}